.welcome {
    font-size: 64px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 200px;
}

.cloud--1 {
    width: 240px;
    height: 240px;
    margin-top: 161px;
    margin-left: 374px;
    position: absolute;
}

.cloud--2 { 
    width: 240px;
    height: 240px;
    margin-top: 281px;  
    margin-left: 731px;
    position: absolute;
}

.cloud--3 {
    width: 240px;
    height: 240px;
    margin-top: 161px;
    margin-left: 1130px;
    position: absolute;
}

.cloud--4 {
    width: 240px;
    height: 240px;
    margin-top: 281px;
    margin-left: 1435px;
    position: absolute;
}

.bird--1 {
    width: 64px;
    height: 64px;
    margin-left: 462px;
    margin-top: 129px;
    position: absolute;
}

.bird--2 {
    width: 64px;
    height: 64px;
    margin-left: 1218px;
    margin-top: 129px;
    transform: scaleX(-1);
    position: absolute;
}

.htmlLogo {
    width: 90px;
    height: 90px;
    margin-left: 449px;
    margin-top: 236px;
    position: absolute;
}

.cssLogo {
    width: 90px;
    height: 90px;
    margin-left: 806px;
    margin-top: 356px;
    position: absolute;
}

.javascriptLogo {
    width: 90px;
    height: 90px;
    margin-left: 1205px;
    margin-top: 236px;
    position: absolute;
}

.reactLogo {
    width: 90px;
    height: 90px;
    margin-left: 1510px;
    margin-top: 356px;
    position: absolute;
}